include README.md
include requirements.txt
include cognival/reporting/templates/cognival_report.html
include user/embeddings/README.md
include user/cognitive_sources/README.md
include user/results/README.md
include user/resources/cognitive_sources.json
include user/resources/embedding_registry.json
include user/resources/reference_config.json
include user/resources/demo_config.json
include user/resources/standard_vocab.txt
include user/resources/standard_sentences.txt
include user/resources/standard_sent_vocab.txt
