include README.md
include requirements.txt
include cognival/reporting/templates/cognival_report.html
include user/embeddings/README.md
include user/cognitive_sources/README.md
include user/results/README.md
include user/configurations/cognitive_sources.json
include user/configurations/embedding_registry.json
include user/configurations/reference_config.json
include user/configurations/demo_config.json
include user/configurations/standard_vocab.txt
include user/configurations/standard_sentences.txt
include user/configurations/standard_sent_vocab.txt
